.login-form-wrapper{
    height: 100vh;
    width: 100%;
    text-align: center;
    font-family: 'Product Sans', Arial, sans-serif!important;
    color: #727272;
    padding:0 15px;
    background-image: url(../../assets/images/back.png);
}
.login-form-wrapper .login-container{
    max-width: 400px;
    margin: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border:1px solid #cfcfcf;    
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.login-container::after{
    content: '';
    position: absolute;
    width: 100px;
    background-image: url(../../assets/images/big-leaf.png);
    background-size: 100%;
    background-repeat: no-repeat;
    left: -100px;
    top: 30px;
    height: 180px;
}
.login-container::before{
    content: '';
    position: absolute;
    width: 60px;
    background-image: url(../../assets/images/smail-leaf.png);
    background-size: 100%;
    background-repeat: no-repeat;
    right: -60px;
    bottom: 30px;
    height: 110px;
}

.log-footer{

    width: 100%;
    background-color: #8BC446;
    color: #fff;	
    padding: 10px;
    font-size: 15px;
}

.login-container .lo-label{
    text-align: left;
    width: 100%;
    display: block;
}
.log-header{

    margin-bottom:85px;
    max-width: 300px;
    margin: auto;
    padding: 15px;
    padding-bottom: 0;
}
.log-header img{width: 100%;}

.login-container h2{
    width: 100%;
    background-color:#EDC743;
    color: #fff;
    top: 97px;
    left: 0;
    padding: 10px;
    font-size:20px;	
}

.btn-primary{
    float: left;
    background-color: #8BC446;
    color: #fff;
    margin-bottom:10px;
}

.clear{
    clear: both
}

.login-container .probootstrap-form{
    padding: 10px 30px 20px 30px;
}

.login-container .register_link{
    float: left;
    background-color: #EDC743;
    color: #fff;
    font-size: 16px;
}
.login-container .forgot_link{
    float: left;
    padding: 12px;
    color: #8cc446;
}
.login-container .help-block{
    text-align: left;
    display: block;
}

.login-container .btn-primary:hover, .login-container .btn-primary:focus{
    background-color: #6BA426
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label{
    color: #FF4500;
}
.has-error .form-control{
    border-color: #FF4500
}
@media screen and ( max-width:640px ) {
    .login-container::after{
        display: none;
    }
    .login-container::before{
        display: none;
    }
}